.WrapperBase {
  /* background-color: #e8e8e8; */
  padding: 15px 25px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  border-left: 2px solid palevioletred;
}

.WrapperBase .BlockWrap {
  margin-bottom: 15px;
  border-left: 2px solid lightsalmon;
  padding-left: 15px;
}

.WrapperBase h1 {
  margin: 0;
  padding: 0;

  margin-bottom: 15px;
}

.WrapperBase h3 {
  margin: 0;
  padding: 0;

  margin-bottom: 15px;

}

.WrapperBase p {
  margin: 0;
  padding: 0;

  margin-bottom: 15px;
}

.WrapperBase ul {
  list-style: none;
  
}

