.lightText {
  font-weight: 200;
}

.TitlePanel {
  margin-bottom: 15px;
}

.descriptionPanel {
  margin-bottom: 15px;  
}

.descriptionPanel p {
  font-weight: 200;
  margin-bottom: 10px;
}

.linksPanel {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.linksPanel a {
  color: palevioletred;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.linksPanel a:hover {
  color: paleturquoise;
}

.mobileOnly {
  font-weight: 200;
}

/* Responsive styles for mobile devices */

@media (max-width: 400px) {
  .desktop {
    display: none;
  }

  .AppWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .descriptionPanel {
    max-width: 200px;
  }

  p {
    line-height: 25px;
  }

}

@media (min-width: 400px) {
  .mobileOnly {
    display: none;
  }
}