* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;

  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f8f8f8;
  color: #383838;
}

code {
  font-family: "PT Mono", monospace;
  background: #383838;
  color: palevioletred;
  display: block;
  padding: 15px;
  border-radius: 15px;
  overflow: scroll;
}

h1 {
  padding: 15px;
}

h2 {
  padding: 15px;
}

h3 {
  padding: 15px;
}

p {
  padding: 15px;
}
